--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
python-multipart
python-dotenv
sqlalchemy
# Use CPU-only tensorflow to save massive space
tensorflow-cpu
scikit-learn
pandas
joblib
numpy
# CPU-only torch via extra-url
sentence-transformers
torch
google-generativeai==0.3.2
pypdf
supabase
requests
